/* The Message background */
.message {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  padding-top: 100px; /* Location of the box */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.2); /* Black w/ opacity */
  
}

/* Message Header */
.message-header {
  background: #f2b55a;
  color: black;
  font-weight: bold;
  margin: auto;
  width: 80%;
  text-align: center;
  padding: 1em;
  padding-top: 0.3em;
  padding-bottom: 0.3em;
  border-top-left-radius: 1em;
  border-top-right-radius: 1em;
  border: 1px solid #AAA;
  border-bottom: 0px;
  -webkit-box-shadow: 5px 5px 10px rgba(0,0,0,0.8);
  box-shadow: 5px 5px 10px rgba(0,0,0,0.8);
}

/* Message Header Text */
.message-header-text {
  font-size: 120%;
}

/* Message Content */
.message-content {
  background-color: #fefefe;
  margin: auto;
  padding: 1em;
  border: 1px solid #AAA;
  width: 80%;
  -webkit-box-shadow: 5px 5px 10px rgba(0,0,0,0.8);
  box-shadow: 5px 5px 10px rgba(0,0,0,0.8);
}

/* Message Footer */
.message-footer {
  background-color: #fefefe;
  margin: auto;
  padding: 0.3em;
  padding-left: 1em;
  padding-right: 1em;
  border: 1px solid #AAA;
  text-align: center;
  border-top: 0px;
  width: 80%;
  border-bottom-left-radius: 1em;
  border-bottom-right-radius: 1em;
  -webkit-box-shadow: 5px 5px 10px rgba(0,0,0,0.8);
  box-shadow: 5px 5px 10px rgba(0,0,0,0.8);
}


