    body {
      font-size: 9pt;
      font-family: verdana;
    }
    select option{
      font-size: 100%;
    }
    select {
      font-size: 100%;
    }
    textarea {
      font-size: 100%;
      font-family: verdana;
    }
    input {
      font-size: 100%;
    }
    .footer {
      width: 100%;
      color: white;
      background: #000;
      font-size: 100%;
    }
    .menu-bar {
      color: white;
      width: 100%;
    }
    .content {
      overflow-y: auto;
    }
    .home {
      width: 20%;
      background: #000;
      float:left;
      height: 3em;
    }
    .clearfix::after {
      content: "";
      clear: both;
      display: table;
    }
    .menu {
      width: 80%;
      background: #000;
      text-align: right;
      float: right;
      height: 3em;
    }
    .menu-button ul,
    .home ul,
    .nav ul {
	    list-style: none;
      margin: 5px;
      padding: 5px;
    }
    .menu-button li,
    .home li,
    .nav li {
      display: inline-block;
      padding: 5px;
      height: 1em;
    }
    a {
      text-decoration: none;
      color: white;
    }
    .disabledmenu {
      color: #AAAAAA;
    }
    input:read-only {
      color: #777777;
      background-color:#EEEEEE;
    }
    .fieldrow {
      width: 100%;
      float: left;
    }
    #divHeader {
      text-align: center;
    }
    .compulsory {
      color: red;
      font-weight: bold;
    }

    .submit_button {
      border-radius: 5px;
      border: 1px solid #885306;
      font-weight: bold;
      background: #f2b55a;
      padding: 0.3em;
      padding-left: 1em;
      padding-right: 1em;
      -webkit-box-shadow: 2px 2px 5px rgba(0,0,0,0.4);
      box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.4);
      cursor: hand;
    }

    @media screen and (min-width: 561px) {
      body {
        xcolor:green;
      }
      .topBannerLarge {
        max-width: 960px;
      }
      .menu-button,
      .topBannerSmall, 
      .mobileMenu {
        display: none;
      }
      .nav {
        display: block;
      }
      .fieldname {
        text-align: right;
        width:45%;
        float: left;
        padding-bottom: 5px;
      }
      .fieldnameX {
        width:65%;
        float: left;
        padding-left: 2%;
        text-align: left;
      }
      .fieldnameS {
        width:60%;
        float: left;
        padding-left: 2%;
        text-align: right;
      }
      .fieldvalue {
        text-align: left;
        width:55%;
        float: right;
        padding-bottom: 3px;
      }
      .fieldvalueX {
        width:30%;
        float: left;
        text-align: right;
      }
      .fieldvalueS {
        width:35%;
        float: left;
        text-align: left;
      }
      .fieldvalue input,
      .fieldvalue select,
      .fieldvalue textarea,
      .fieldvalue span {
        margin-left:10px;
      }
      .buttons {
        float: left;
        width:100%;
        padding-bottom: 5px;
      }
      .mainrow {
        width:100%;
        float: left;
        border-bottom:1px solid black;
        border-right:1px solid black;
        border-left:1px solid black;
      }
      .mainrowheader {
        border-top:1px solid black;
      }
      .mainleft {
        width:55%;
        float: left;
        border-right:1px solid black;
      }
      .mainright {
        xwidth:40%;
        xfloat: left;
      }
      .contactsleft {
        border-right:1px solid black;
      }
    }
    @media screen and (max-width: 560px) {
      body {
        xcolor:red;
      }
      .menu-button {
        display: block;
      }
      .menu-seperator {
        display: none !important;
      }
      .nav ul {
        display:none;
      }
      .topBannerLarge, 
      .topMenu {
        display: none;
      }
      .menu {
        position: absolute;
        right: 8px;
        width:40%;
      }
      .home {
        width:60%;
	    }
      .nav li {
        text-align: center;
        width: 100%;
	      padding: 10px 0;
	      margin: 0;
      }
      .menu:hover {
        height: auto;
      }
      .menu:hover ul {
        display: block;
      }
      .fieldname {
        text-align: left;
        width:100%;
      }
      .fieldnameX {
        width:90%;
        float: left;
        padding-left: 2%;
        text-align: left;
      }
      .fieldnameS {
        width:60%;
        float: left;
        padding-left: 2%;
        text-align: left;
      }
      .fieldvalue {
        text-align: left;
        width:100%;
        padding-bottom: 5px;
      }
      .fieldvalue textarea {
        width: 100%;
      }
      .fieldvalueX {
        width:5%;
        float: left;
        text-align: right;
      }
      .fieldvalueS {
        width:35%;
        float: left;
        text-align: right;
      }
      .buttons {
        text-align: left;
        width:100%;
        padding-bottom: 5px;
      }
      .mainrow {
        width:100%;
        float: left;
        border-bottom:1px solid black;
        border-right:1px solid black;
        border-left:1px solid black;
      }
      .mainrowheader {
        border-top:1px solid black;
      }
      .mainleft {
        width:50%;
        float: left;
        border-right:1px solid black;
      }
      .mainright {
        width:49%;
        float: right;
      }
    }

